[2018-05-20 05:18] varunagrawal opened #4 "Automated Testing & Release Pipeline"
Once we have the project in a semi-working condition, it would be nice to have automatic testing and deployment to pypi.org via travis or a similar CI/CD tool.

[2018-05-21 12:09] varunagrawal opened #5 "Auto Docs Generation"
By their very nature, CLI tools are harder to figure out compared to GUI tools. We will need really good docs to ensure the `evalai-cli` too gains traction among users.

It would be great to have automatic documentation generation from doc strings as a starting point so we can add more detailed documentation later.

[2018-05-26 13:30] varunagrawal commented on #5
Both Sphinx (specifically `autodoc`) and `pydoc` should suffice.
I would check to see if Sphinx supports Markdown files since reStructuredText is not used.

[2018-05-26 14:17] RishabhJain2018 opened #7 "Revert PR #2"
**Description:** Revert the pull request #2 and merge again by squashing the changes into 1 merge commit with a proper commit messages.

[2018-05-26 14:18] #7 closed

[2018-05-26 14:42] varunagrawal opened #8 "Development templates"
We should have templates that describe to new contributors what the expectations of the project are. This requires putting the files in a `.github` folder to allow Github to render them appropriately. Below is a list of files that will be needed to close this issue.

1. [x] - `CONTRIBUTING.md`
2. [x] - `ISSUE_TEMPLATE.md`
3. [x] - `PULL_REQUEST_TEMPLATE.md`

[2018-05-26 15:39] RishabhJain2018 opened #10 "Add authentication with displaying challenge details"
**Deliverables:**

- [ ] Add authentication in EvalAI Python Package
- Add below functionality to fetch challenges
- [ ] get all Challenges
- [ ] get current challenges
- [ ] get past challenges
- [ ] get future challenges

[2018-05-26 15:42] #10 closed

[2018-05-26 15:49] varunagrawal opened #11 "Token Expiration Error"
We should display an error that the token is expired and ask the user to generate again.

[2018-05-26 15:49] varunagrawal opened #12 "Server Error Message"
We should display a server error if the API isn’t working or is down.

[2018-05-26 15:50] varunagrawal opened #13 "Token File Missing Message"
Change the error message when token file isn’t present in specified directory.

The message should be:
[code]

[2018-05-26 15:51] varunagrawal opened #14 "Future Challenge Start Date"
While displaying the future challenges, we should display the start-date instead of end-date.

[2018-05-26 15:53] varunagrawal opened #15 "Remove hard-coded token file name."
We need to figure out a better way to save the token file name.
One way could be to have a `config.json` that saves these values and is loaded at startup. This will allow us to not only save custom config file names but also custom locations.
We can prompt the user at startup to enter these values if they are missing, providing the current values as defaults (similar to how ssh keys are generated)

[2018-05-28 02:26] varunagrawal opened #18 "Google Summer of Code Tasks"
# Features to implement for the EvalAI CLI:

- [x] Get all challenges
    - command: `evalai challenges list`
    - data: name, id and short description

- [x] Show number of challenges in which participant has participated
    - command: `evalai challenges list -participate true`
    - data: Show the challenge id, challenge name, and short description

- [x] Show number of challenges in which par

[2018-06-07 07:48] isht3 opened #25 "Redesign get_challenge_count to accept both host and participant flags."
The function `get_challenge_count` called when either participant or host is `True` first checks for host and if host is false, checks for participant.

So after activating both flags, only the host challenges are printed. We have to redesign the `get_challenge_count` function to account for this (and possibly rename it too).

#24

[2018-06-15 12:54] isht3 opened #32 "Implement validation function for Click to support date field."
Currently, click doesn't natively support date type. We want to incorporate this feature into the CLI to accept date from the user.

[2018-06-16 07:48] isht3 opened #35 "Display only the ongoing challenges with the participant flag."
# Current Scenario.
All the challenges are displayed in which participant have participated i.e present as well as past on running the command `evalai challenges --participant`

# Expected Behaviour.
The command `evalai challenges --participant` should only display the challenges in which are ongoing and the participant have participated in them.

[2018-06-17 06:21] isht3 opened #36 "Storing the project settings in a config file."
Right now, there are some user-specific settings that need to be configured to use the CLI with different instances of the EvalAI. Some of them are:

* Host URL.
* Token File Location
* Token File Name

The default for Host URL would be the `localhost:8000`, and the user could change it to their host to use different instances of EvalAI.

[2018-06-20 10:37] RishabhJain2018 opened #43 "Update Readme"
Add badges in the readme.

[2018-06-21 13:09] isht3 opened #45 "Add test case for testing --host and --participant flag together."

[2018-06-21 13:18] RishabhJain2018 opened #46 "Modify docstrings in functions"
**Current Scenario:** Tells the functioning of the function in a single line.

**Deliverables:**
We should add doc strings answering the following points:
1. Args : What argument a function accepts
2. Returns: What is the final output of the function
3. Raises: What exception it raises
4. Command (Optional): What is command used to invoke it.

[2018-06-21 13:19] isht3 opened #47 "Change docstrings."
Make docstrings more consistent by defining it with the following terms.
- `ARGS`
- `PARSES`
- `RAISES`

[2018-06-21 13:21] RishabhJain2018 commented on #47
I had opened the similar issue #46 . Hence, closing this one.

[2018-06-21 13:21] #47 closed

[2018-06-21 15:57] RishabhJain2018 commented on #46
@varunagarwal @deshraj What do you guys say?

[2018-06-21 16:03] #25 closed

[2018-06-21 16:03] #45 closed

[2018-06-21 20:35] RishabhJain2018 opened #49 "Add test cases to cover the complete codebase"
Since the coverage is `72%` which is quite low, hence we should add test cases in order to cover all the code, before merging the new PR's.

**Deliverables:** Increase the coverage to `90%`.

[2018-06-21 20:36] RishabhJain2018 commented on #49
@isht3 Please try to fix this asap before working on the PR's.

[2018-06-21 20:41] RishabhJain2018 commented on #8
@varunagrawal I think we should also add the other two remaining templates.

[2018-06-21 20:43] RishabhJain2018 commented on #18
@isht3 Please add the link to latest gist here.

[2018-06-22 16:34] #49 closed

[2018-06-22 16:43] #43 closed

[2018-06-22 18:05] isht3 commented on #36
Solved #41

[2018-06-22 18:05] #36 closed

[2018-06-24 19:01] #11 closed

[2018-06-24 19:01] #13 closed

[2018-06-24 19:05] RishabhJain2018 opened #54 "Fix master branch travis build"
The test cases [here](https://travis-ci.org/Cloud-CV/evalai-cli/jobs/396140218) are to be checked & rectified.

[2018-06-25 09:19] #54 closed

[2018-06-26 06:17] isht3 opened #57 "Redoing line-breaks."
Right now, line breaks are a continuous stream of hyphens, we have to change it to something aesthetically pleasing like `'-'*N`.

For more details please refer #29

[2018-06-28 18:26] isht3 opened #60 "Documentation milestones."
# Write docs for.

- [x] Welcome page.
- [x] Installation.
- [x] Getting the token.
- [x] Connecting CLI to the host.
- [x] Basic commands overview.
- [x] View Challenge, Phase, Phase Splits.
- [x] Create a participant team.
- [x] Participate in a challenge.
- [x] Make a submission.
- [x] View status of a submission.
- [x] View all your submission.
- [x] View the leaderboard.
- [x] Directory Struc

[2018-06-28 22:44] deshraj opened #61 "Create challenge configuration using CLI"
Users should be able to create a challenge configuration zip using CLI. The idea is to have a similar setup that Sphinx provides when you want to generate the documentation configuration. It should work something like this:

Command: `evalai create_challenge`

[code]

CC: @isht3 @varunagrawal @RishabhJain2018

[2018-06-29 04:38] isht3 commented on #61
This should be implemented only after the primary features are done and the CLI is finished, yes?

[2018-06-29 06:32] deshraj commented on #61
Yes, that's correct.

[2018-06-30 05:52] RishabhJain2018 opened #63 "Display Error properly when challenge does not exists."
This [line]( https://github.com/Cloud-CV/evalai-cli/blob/a23fdf05b116b39278f78b55cd1a4af55f7a2c1b/evalai/utils/challenges.py#L227) will give a `KeyError` upon running the command:
`evalai challenges 340 phases` where 340 is the pk of challenge that doesn't exists.

@isht3 Can you please verify this ?

[2018-07-01 06:53] deshraj commented on #46
Totally agree with what @RishabhJain2018 said. @isht3 can you please get this done quickly. This will be a bonus for our CLI.

[2018-07-01 07:14] isht3 commented on #46
Yes, will get started on this.

[2018-07-02 05:17] #63 closed

[2018-07-02 05:24] RishabhJain2018 opened #66 "Increase Coverage"
We should now focus on covering up all the minor test cases in order to increase the coverage to 95%.

[2018-07-02 11:52] isht3 opened #67 "Enhance the submission feature to support additional submission metadata."
Right now, we can submit a file but user should have options to fill Submission Metadata like `method name`, `method description`, `project url`, `publication url` at the time of submission.

[2018-07-04 17:46] RishabhJain2018 opened #72 "Auth Token value gets reset"
The token which is placed at `~/.evalai/token.json` gets reset whenever a user runs test cases on his local machine.

**Steps to reproduce:**
1. Add a valid token at `~/.evalai/token.json`.
2. Run the test cases using `py.test`.
3. Check the value of token at `~/.evalai/token.json`

The token `value at step 1 != value at step 3`.

[2018-07-07 10:18] isht3 opened #78 "Ongoing command displaying past challenges."
Add support in ongoing to filter out past challenges.

[2018-07-08 17:01] #67 closed

[2018-07-09 04:52] isht3 opened #81 "Abstracting the request pattern."
Currently, most of the request function use the same format of http request pattern except a few.

[code]
This could be simplified easily by abstracting this functionality as a function.

[2018-07-16 12:05] #78 closed

[2018-07-19 12:38] RishabhJain2018 opened #89 "Challenge Stats should not be shown to the participant users."
**Current Scenario:**
Challenge statistics is visible to both challenge hosts and challenge participants.

**Deliverabes**
The challenge statistics should only be visible to challenge host.

[2018-07-19 13:50] isht3 commented on #66
#88 resolved this. Closing it now.[](url)

[2018-07-19 13:50] #66 closed

[2018-07-19 13:51] isht3 commented on #60
#59 #77 resolved this. Closing it now.[](url)

[2018-07-19 13:51] #60 closed

[2018-07-19 13:52] isht3 commented on #15
Solved. #41

[2018-07-19 13:52] #15 closed

[2018-07-19 13:54] isht3 commented on #18
Features completed and merged into master according to the new CLI design https://cloudcv.slack.com/files/UA0PU3B1T/FB1U0AY6B/evalai_cli_design.md

[2018-07-19 13:54] #18 closed

[2018-07-19 13:57] isht3 commented on #46
#87 Fixes this.

[2018-07-19 18:23] RishabhJain2018 commented on #14
@isht3 Can you please resolve this issue?

[2018-07-19 18:24] RishabhJain2018 commented on #12
@isht3 Is this solved?

[2018-07-23 06:34] isht3 commented on #12
#90 solves this.

[2018-07-24 15:30] isht3 commented on #14
Closing this since we switched to table-based view and this issue was for the old design.

[2018-07-24 15:30] #14 closed

[2018-07-24 15:30] isht3 commented on #57
Closing this since we switched to table-based view and this issue was for the old design.

[2018-07-24 15:30] #57 closed

[2018-07-24 15:31] isht3 commented on #72
#92 Fixes this.

[2018-07-31 19:34] RishabhJain2018 opened #93 "Add a badge for docs"

[2018-08-19 20:27] #72 closed

[2018-08-19 20:28] #12 closed

[2018-08-28 15:55] RishabhJain2018 opened #97 "Remove challenge start & end date"
Remove challenge start & end date when viewing the description for a single challenge.
<img width="1403" alt="screen shot 2018-08-28 at 11 54 45 am" src="https://user-images.githubusercontent.com/12206047/44734989-2fa7d500-aab9-11e8-922f-4daf5026fa97.png">

[2018-08-28 16:29] inishchith commented on #97
@RishabhJain2018 can i take up this issue ? 😄

[2018-08-28 17:49] RishabhJain2018 commented on #97
Sure! Please feel free to ask if you have any doubts. We will be happy to help.

[2018-08-28 19:09] RishabhJain2018 opened #98 "Documentation landing page Enhancements"
- [x] Please add sample responses with each command.
- [x] Please add options by taking the reference from here and commands can be https://docs.aws.amazon.com/cli/latest/reference/
https://docs.docker.com/engine/reference/commandline/cli/
- [x] Add review comments
- [x] Can `pip install evalai` automatically create `~/.evalai` ?

[2018-08-29 10:32] isht3 commented on #98
@RishabhJain2018 The last option can definitely be automated. https://stackoverflow.com/questions/15853058/run-custom-task-when-call-pip-install

[2018-09-02 20:09] darthgera123 commented on #89
@RishabhJain2018  is this issue open?

[2018-09-05 01:20] RishabhJain2018 commented on #98
@isht3 Can you please implement that?

[2018-09-05 05:43] isht3 commented on #98
@RishabhJain2018 Yup, I'll reach back today and I'll work on implementing it.

[2018-09-13 06:33] darthgera123 commented on #89
hey im unable to reproduce the issue. Could someone help me @RishabhJain2018  @isht3

[2018-09-13 08:31] isht3 commented on #89
@darthgera123 Okay, please try requesting for the stats from both the host account and the participant account. (Use token from the participant/host accounts.)

The stats would give us the stats info for both participant and the host alike. We would like to stop showing the stats to the participant.

Did you try this?

[2018-09-13 09:55] darthgera123 commented on #89
currently i can only get the api token from admin and not from any other source. Plus `evalai challenges 1 stats` doesnt work as well.

[2018-09-13 09:55] inishchith opened #104 "Upcoming Command not working"
[code]
Doesn't work .
Instead the function that should be invoked is named `future`. [REF.](https://github.com/Cloud-CV/evalai-cli/blob/5a2f67e60ed1e3b146a1081059c0ee66768fce76/evalai/challenges.py#L99)
[code]

@RishabhJain2018 @isht3 this is just a `typo` kind of issue. let me know if i can propose a quick fix. 😄

[2018-09-13 12:44] isht3 commented on #89
@darthgera123 That's because this feature is a work in progress on this branch https://github.com/Cloud-CV/evalai-cli/pull/86 Please feel free to start working on it. I'll help you get familiar with the parts, no worries. 😃

[2018-09-13 12:44] isht3 commented on #89
@darthgera123 You can also get the auth token from the profile page of the user.

[2018-09-13 12:46] isht3 commented on #104
@inishchith Yup, definitely a typo. Please feel free to start working on a fix! Thanks a lot!

[2018-09-13 13:03] darthgera123 commented on #89
sure, ill look into it. Thanks a lot btw

[2018-09-13 15:23] darthgera123 opened #105 "Multiple tokens"
- [ ] Create a file which will have multiple tokens so that one can switch from host to participant creating some sort of a login kind of feature.
Label - enhancement

[2018-09-13 16:48] inishchith commented on #104
@isht3 replacing `future` ( function name ) with upcoming with `upcoming` would work just fine, i feel.
There are many files with `future` reference, so changing every occurrence isn't a good idea because even the  API `urls` has a `/future` reference .
What do you think?

[2018-09-13 18:10] isht3 commented on #104
@inishchith I feel that the keyword future is more compatible and consistent across all of EvalAI and EvalAI CLI. But I definitely agree that `upcoming` sounds more verbose when it comes to the command. It's definitely up for discussion. @RishabhJain2018 What do you think?

[2018-09-27 18:44] RishabhJain2018 opened #106 "Show error message while submitting when user doesn't participate in a challenge."
Error message like you have not participated in the challenge is not shown when a user tries to submit to a challenge without participating in it.

[2018-10-19 12:47] pydevsg commented on #106
Hi Rishabh how can I help you ?
whats your issue with the code, code you specify?

[2018-10-19 17:44] isht3 commented on #106
@pydevsg Hey there! Have you set up the development environment of the CLI? If yes, try running the submission command without participating in a challenge and we'll get a very vague response, we need to change it to something a bit more verbose.

[2018-11-02 14:31] gautamjajoo commented on #106
@RishabhJain2018 Is this the error message
``404 Client Error: Not Found for url: http://localhost:8000/api/jobs/submission/1 ``

[2018-11-02 14:32] gautamjajoo commented on #97
@RishabhJain2018 Is this issue open, because PR #99 has resolved the issue.

[2018-11-02 14:33] gautamjajoo commented on #93
@RishabhJain2018 The badge for docs should be redirected to which url?

[2018-11-26 16:53] inishchith commented on #104
@RishabhJain2018 Any suggestions? 😄

[2018-12-14 08:10] RishabhJain2018 opened #119 "Add command for creating a challenge"
The command should be like `evalai challenge create --file=<path_to_zip_file>`
Please feel free to ask if you have doubts.

[2018-12-14 08:12] vkartik97 commented on #119
Can I work on this issue?

[2018-12-14 08:33] RishabhJain2018 commented on #119
sure! go ahead.

[2019-01-05 20:43] RishabhJain2018 commented on #119
Hi, @sinAshish Welcome to CloudCV! In order to start with the issue please take a look at the code in `challenges.py` for creating commands. You might also want to take a look at the EvalAI codebase for the API.

[2019-01-16 12:43] KhalidRmb commented on #119
Hi! :) What's the status on this issue? I would like to work on this if it's free. @RishabhJain2018 @sinAshish

[2019-01-16 12:54] vkartik97 commented on #119
Hi @KhalidRmb
How familiar are you with Challenge Creation API in EvalAI?

[2019-01-16 12:58] vkartik97 commented on #119
Hi @KhalidRmb
Welcome to ClouCV!
Go though the Challenge Creation API in EvalAI for to further work on this issue :)

[2019-02-07 08:52] RishabhJain2018 opened #123 "Add command to display the already set token on CLI"
The command should be `evalai gettoken`

The output should be the token which is set at `~/.evalai/token.json file`.

[2019-02-07 08:59] nileshprasad137 commented on #123
I'd like to work on this

[2019-02-07 09:04] RishabhJain2018 commented on #123
Sure @nileshprasad137 You can work on this.

[2019-02-07 09:16] RishabhJain2018 commented on #123
@nileshprasad137 Just a heads up, we'll need it urgently in a couple of hours or so :). Thanks for the quick response though.

[2019-02-07 10:20] nileshprasad137 commented on #123
@RishabhJain2018 should i display the json {"token":"ksjhkja..."} or just the token string "ksjhkja"?

[2019-02-07 21:04] RishabhJain2018 commented on #123
Thanks a lot for the quick PR. You should display just the token.

[2019-02-08 03:58] RishabhJain2018 opened #130 "Remove red background from all the error messages and make the text red."
The current displayed error messages are: (Notice the red background and white font color)
<img width="586" alt="screenshot 2019-02-07 at 10 56 37 pm" src="https://user-images.githubusercontent.com/12206047/52458172-caf2ab00-2b2b-11e9-9c31-92f8345c39ac.png">

Instead, the same text should be displayed as
<img width="552" alt="screenshot 2019-02-07 at 10 57 18 pm" src="https://user-images.githubuse

[2019-02-08 04:07] #123 closed

[2019-02-08 04:37] gautamjajoo opened #131 "Make copyright year dynamic"
### Observed Behaviour
The copyright year in the footer of docs landing page is outdated - 2018

### Expected Behaviour
Make the copyright year dynamic.

@RishabhJain2018

[2019-02-08 04:53] gautamjajoo opened #132 "Add copy to clipboard feature in command"
### Deliverables
- [x] Add support for copying to clipboard for all the commands listed on the docs page.
- [x] Add an icon for copying the text.
- [x] Show a successful message ` Command copied to clipboard`.

@RishabhJain2018

[2019-02-08 05:28] vkartik97 commented on #132
@gautamjajoo
I’d like to take this up

[2019-02-08 06:11] RishabhJain2018 commented on #132
Sure! you can work on this.

[2019-02-08 10:32] RishabhJain2018 commented on #8
Closing this since it is already fixed!

[2019-02-08 10:32] #8 closed

[2019-02-08 10:33] RishabhJain2018 commented on #98
Closing this since it is already fixed.

[2019-02-08 10:33] #98 closed

[2019-02-11 10:24] RishabhJain2018 opened #137 "Add a command for logging in to evalai using cli"
## Deliverables

- [ ] Add a command `evalai login <username>` which will prompt for the `password`.
- [ ] Once the password is entered, then the command will create a auth_token for the user by using the EvalAI login API, & saves it in the `token.json` file at `~/.evalai/token.json` in the user's system.

[2019-02-11 10:52] nileshprasad137 commented on #137
I'd like to work on this!

[2019-02-11 10:53] RishabhJain2018 commented on #137
Sure! @nileshprasad137 You can work on this.

[2019-02-11 11:52] nileshprasad137 commented on #137
User should not be allowed to see the password while typing, right?

[2019-02-11 11:53] RishabhJain2018 commented on #137
yeah

[2019-02-11 15:22] RishabhJain2018 commented on #130
@nileshprasad137 Would you like to fix this too? Meanwhile, I'll review that PR.

[2019-02-11 15:36] nileshprasad137 commented on #130
Sure , I'll fix this too!

[2019-02-11 15:37] RishabhJain2018 commented on #130
Thanks!

[2019-02-11 16:06] nikhilmudholkar commented on #131
I would like to work on this issue

[2019-02-11 16:08] gautamjajoo commented on #131
@nikhilmudholkar Sure! You can work on this issue.

[2019-02-11 16:10] #93 closed

[2019-02-11 18:23] nikhilmudholkar commented on #131
@gautamjajooI have submitted the PR. Please review it. Also, the Travis build tests are failing for some reason. All I have done was changing a single line in index.html. How can that lead to the failing of test cases? Can you please help me understand this?

[2019-02-11 19:53] #130 closed

[2019-02-11 20:14] #137 closed

[2019-02-12 01:07] #4 closed

[2019-02-12 01:54] #132 closed

[2019-02-15 05:15] RishabhJain2018 opened #145 "Add unit tests for evalai push command"

[2019-02-15 05:18] vkartik97 commented on #145
Can I work on this?

[2019-02-15 05:37] RishabhJain2018 commented on #145
Sure! You can work on this.

[2019-02-16 22:56] RishabhJain2018 opened #147 "Fix bug while copying command"
## Bug:

Currently, when the command `evalai set_token <auth_token>` is copied to clipboard, then the content which is copied is `evalai set_token &lt;auth_token&gt;`.

## Expected Behaviour

The copied content should be `evalai set_token <auth_token>`

[2019-02-17 06:43] inishchith commented on #147
@RishabhJain2018 can i work on this?

[2019-02-17 06:49] gautamjajoo commented on #147
@RishabhJain2018 Also, when the command `evalai push <image:tag> -p 4` is copied , the content is `evalai push &lt;image:tag&gt; -p 4 `.

[2019-02-17 09:20] RishabhJain2018 commented on #147
Sure @inishchith.

[2019-02-17 16:28] #147 closed

[2019-03-06 06:58] prasadgujar commented on #131
@gautamjajoo @nikhilmudholkar did issue is resolved or not? if not let me know I m interested in solving this issue?

[2019-03-06 10:45] gautamjajoo commented on #131
@prasadgujar Sure! Go ahead.

[2019-03-19 07:47] mahim23 commented on #106
@RishabhJain2018 @isht3 Can I take this issue up if it still needs work?

[2019-03-19 07:48] mahim23 commented on #105
@Ayukha Are you still working on this? If not, @darthgera123 @RishabhJain2018 Can I work on it?

[2019-03-19 07:53] mahim23 commented on #81
@isht3 @RishabhJain2018 Can I work on this issue?

[2019-03-19 20:40] #131 closed

[2019-03-19 21:28] RishabhJain2018 opened #151 "Add evalai production url as the default url for fetching details"

[2019-03-20 17:30] #151 closed

[2019-03-20 20:53] RishabhJain2018 commented on #81
@mahim23 Sure! Once you've completed your previous issue then you can work on this.

[2019-03-20 20:55] RishabhJain2018 commented on #106
yeah, sure. but since you're working on another issue, it is open for others to work on.

[2019-03-26 01:59] RishabhJain2018 opened #154 "Check if docker is running on host machine before using evalai push"
## Current Scenario
If a user wants to make submissions using `evalai push` command, then if docker isn't running on the users machine then the error thrown is
[code]
which will confuse the user.

## Expected Scenario
The error thrown should be `Docker isn't running on your system. Please start docker before making submissions`

[2019-03-26 02:13] yashdusing commented on #154
I would like to work on this @RishabhJain2018

[2019-03-26 02:46] RishabhJain2018 commented on #154
Sure @yashdusing .

[2019-03-30 06:31] RishabhJain2018 opened #157 "Add unit tests for download_file command"

[2019-03-31 07:27] yashdusing commented on #154
@RishabhJain2018 Is there any sample docker based submission ? I wanted to know more about how the docker based submission is interacting with the EvalAI leaderboard. Is there anything in mind ?

[2019-03-31 16:34] kurianbenoy commented on #157
Can I work on this issue?

[2019-04-07 15:19] kurianbenoy opened #160 "Add docs for auth token"
- How to add auth token for EvalAI-CLI is not there in README
- Add contribution guidelines

I am not sure if this is necessary. But when I tried running a few commands, I saw a warning to add token.json. That's why I created this issue

[2019-06-03 18:22] RishabhJain2018 opened #164 "Add a command to display the submission result by passing the submission ID"

[2019-07-09 04:13] RishabhJain2018 opened #169 "Fix error message when submission limit is exhausted for a phase"

[2019-09-25 11:27] sameshl commented on #169
@RishabhJain2018 could you elaborate on what exactly needs to be done. I would like to work on this.

[2019-10-27 23:03] RishabhJain2018 commented on #164
Fixed in #165

[2019-10-27 23:03] #164 closed

[2019-11-06 17:33] pushkalkatara commented on #157
Hi @RishabhJain2018 Can i work on this issue?

[2019-11-06 18:06] RishabhJain2018 commented on #157
Sure @pushkalkatara

[2019-11-06 20:45] pushkalkatara opened #171 "[docs] Documentation on usage of download_file"
https://evalai-cli.cloudcv.org/ does not contain documentation on how to use the download_file CLI command.

[2019-11-06 21:47] pushkalkatara opened #172 "[bug, #todo] hardcoded host url"
Currently, the host URL is hardcoded, it should be fetched from the CLI. Also, mentioned as a TODO here - [download_file](https://github.com/Cloud-CV/evalai-cli/blob/a658e23a6c4c65ec10b017087de93d09bab08ab4/evalai/submissions.py#L191)

[2019-11-06 22:15] pushkalkatara commented on #172
Oh I just noticed this is solved by set_host CLI command. I would remove the comment.

[2019-11-06 22:55] pushkalkatara commented on #157
@RishabhJain2018 I am unable to login into the CLI using the ID: host and Password; password. It says invalid credentials. What might be the issue?

[2019-11-06 22:56] pushkalkatara commented on #157
I have written the tests but unable to run them due to no login. Here's the commit - https://github.com/pushkalkatara/evalai-cli/commit/f4b511750ff24a8c673b0460cb0f470b2a2f41d5

[2019-11-06 23:00] RishabhJain2018 commented on #157
Please check that you're running EvalAI locally as well and host url is set to `localhost`.

[2019-11-06 23:41] pushkalkatara commented on #157
yes host url is set to localhost:8888 and the EvalAI is running locally. Still when i login using credentials ID: host and password: password, it just exits without any message. I think it should give invalid credentials or login successful.
[code]

[2019-11-06 23:53] RishabhJain2018 commented on #157
The host URL should be set to `localhost:8000` as CLI interacts with the API.

[2019-11-06 23:57] pushkalkatara commented on #157
The pytests worked, but still, login as a host or a participant is not working.

[2019-11-08 23:49] pushkalkatara commented on #157
@RishabhJain2018 I solved the issue and created a pull request. Please review the PR #173 .

[2019-11-09 02:51] pushkalkatara opened #174 "Some CLI commands not working"
1. evalai challenge 1 participant 2
[code]

2. evalai challenges upcoming
[code]

[2019-11-09 03:03] pushkalkatara opened #175 "download_file arguments - bucket and key"
Currently, the download_file CLI command requires the whole API URL to download the file.

- [ ] Example on how to get the URL.
- [ ] Documentation on how to use the URL in CLI. (passed with " ")

Discussion on how changing from URL to just bucket and key to download the file can be done. The current implementation fetches the API URL from user, parses the bucket and key, and again generates the U

[2019-11-09 03:36] pushkalkatara commented on #61
Hi @deshraj Can I work on this issue?

[2019-11-09 06:42] gautamjajoo commented on #174
In the first part, are you trying to register for the challenge. You can try using ``participate`` instead of ``participant`` and in the second part I guess use the word ``future``(Ref: #104 ).

[2019-11-09 08:25] pushkalkatara commented on #174
Yes, I think then docs needs to be changed - `evalai-cli.cloudcv.org`

[2019-11-12 12:33] pushkalkatara opened #176 "calling evaluate() infinite times if submission id is NoneType"
Faced this issue while trying nocaps on google colab and making a submission after initial iterations. Rather, user should be given an error that token is not set, or team is not created, or not participated in the challenge.

![nocaps](https://user-images.githubusercontent.com/21266230/68671963-94dcce80-0576-11ea-8427-3d2c9787628b.png)

[2019-11-22 04:57] ssaahhaajj opened #177 "No code written under evalai-cli/evalai/urls.py"
_Thanks for taking the time to report a bug in the evalai-cli project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/evalai-cli/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to

[2019-11-22 05:06] ssaahhaajj opened #178 "Many files need to be updated and added in evalai-cli/docs/"
_Thanks for taking the time to report a bug in the evalai-cli project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/evalai-cli/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to

[2019-11-22 18:56] super-beam commented on #178
@ssaahhaajj Are you working on the same?

[2019-11-22 19:01] super-beam commented on #178
Well, @ssaahhaajj we can also make this a task for GCI students.

[2019-11-22 19:26] ssaahhaajj commented on #178
I am not currently working on the same but definitely we can make it as a task for GCI students. Actually, I have applied for GCI mentor at cloudCV, so I added it for that purpose only. @super-beam @RishabhJain2018

[2019-11-22 20:28] super-beam commented on #178
Great! @ssaahhaajj

[2019-11-23 00:44] vs74 opened #179 "[Doc] : Readme.md - Description and CLI commands to be updated."
I think, the `readme.md ` is quite undescriptive in the aim of this repo(evalai-cli). To elaborate further, I would like to mention 2 changes in readme.md file.

1. Description.
To a user who is unaware of EvalAI, the readme files makes little sense ( though I know, that user can go [here](https://evalai-cli.cloudcv.org or search about EvalAI). Nonetheless, for a good first impression, Readme file

[2019-11-23 18:19] vs74 commented on #179
A see a similar PR #171 related to this issue.

[2019-11-24 07:54] pushkalkatara opened #180 "[Docs] Custom backend configuration documentation"
Currently, it's unclear on how to use custom backend for EvalAI.
While running EvalAI locally (forked version) the user has to set the host to localhost:8000 but in the documentation its mentioned:
[code]
instead it should be
[code]

[2019-12-03 07:28] pushkalkatara opened #181 "[GCI-2019] Pretty print CLI output on terminal."
Configure to print output in a pretty format on CLI. Currently, printing output is directly through click python library in plain text. Click supports [ClickUtils](http://click.palletsprojects.com/en/7.x/utils/) with functionalities such as ANSI Color and Pager Support. Student's task -

1. Modify individual function output using ClickUtils, make a PR and attach a screenshot for the same. Look on

[2019-12-08 14:58] Lakshyashishir2 commented on #171
Please can you tell me what exactly is the command.

[2019-12-08 14:59] Lakshyashishir2 commented on #171
please, can you tell me what is the command exactly?

[2019-12-08 15:29] m-sameer commented on #181
@pushkalkatara Take a look at my PR

[2019-12-08 17:04] pushkalkatara commented on #171
Hi @Lakshyashishir2 Recently `download_file` command was implemented in evali-cli. You can find the code here - https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/submissions.py#L185

You have to add documentation for the user in the README as well as in the docs describing on how to use this command. Also, there is an open PR with tests for your reference - https://github.com/Cloud-CV/eval

[2019-12-09 05:15] RohanSreelesh commented on #181
#197

[2019-12-09 14:56] yashdusing commented on #171
@Lakshyashishir2 for the GCI task, use `The sample command is evalai download_file 'https://evalai.cloudcv.org/web/submission-files?bucket=<s3_bucket_name>&key=<file_path_in_bucket>' ` as the sample download link.

[2019-12-12 13:47] nikochiko opened #199 "[Docs] readthedocs documentation build failed."
The readthedocs documentation for EvalAI-CLI shows build failing with the most recent build from 1 year and 5 months. The build was not configured correctly.
![evalai-cli-readthedocs](https://user-images.githubusercontent.com/37668193/70717147-c7afe900-1d13-11ea-9f96-3101b3726a78.PNG)
Also, the `Short URLs` on the [overview page](https://readthedocs.org/projects/evalai-cli/) are broken.
These poin

[2019-12-12 13:57] nikochiko opened #200 "[PyPI docs] Link to project homepage on PyPI broken"
On the [evalai-cli PyPI page](https://pypi.org/project/evalai/), the link that `Homepage` under `Project Links` in left-bar points to is https://github.com/Cloud-CV/evalai_cli
This throws a 404 error as it should be https://github.com/Cloud-CV/evalai-cli

[2019-12-13 14:24] nikochiko opened #204 "[Docs] No such command: upcoming"
On the doc page: https://evalai-cli.cloudcv.org/
The third command in examples: `evalai challenges upcoming` raises an error.
[code]
I think this should be changed to `evalai challenges future` as per https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/challenges.py#L106

[2019-12-13 19:57] nikochiko opened #205 "[New feature] Add feature to reset_token (logout)"
Currently, the CLI only has functionality to `set_token` and `get_token`. However, the `set_token` only accepts 40-character long strings. Therefore, once a token is added, there is no way to take that back expect to switch it with a different token. Also, there is functionality to `evalai login` but no `logout`.
Expected: There should be a command to log out. And also one for resetting token to a

[2019-12-15 05:22] #181 closed

[2019-12-16 08:51] nikochiko commented on #205
@RishabhJain2018 @vkartik97 @pushkalkatara Can I work on this task?

[2019-12-18 08:34] pushkalkatara opened #215 "[bug] token.json empty causes cli to crash."

[2019-12-18 08:38] pushkalkatara opened #216 "[error message] get_token command gives out wrong message"
When JSON is not in the evalai path and get_token command is used, it throws an error
[code]

In the second method, we should use `evalai set_token <token>` command rather than `evalai -t <token>`

SC - https://github.com/Cloud-CV/evalai-cli/blob/c74479845e9669fc02c1c3b3799ab3d1e8f4d903/evalai/get_token.py#L20

[2019-12-18 11:41] masonlr opened #218 "Hardcoded AWS region"
When making docker submissions the AWS region is hardcoded to `us-east-1`:

https://github.com/Cloud-CV/evalai-cli/blob/20fe1e61aa263aa8d16f93f67b24fefa6367c868/evalai/submissions.py#L124-L130

It remains possible to set arbitrary `AWS_REGION` values in eval-ai though:

https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/utils.py#L66-L89

The issue specific to https://github.com/Cloud-C

[2019-12-21 07:03] aaaakshat commented on #215
#222 I've added handling for the json file and made sure the token is exists.

[2019-12-22 04:55] pushkalkatara opened #223 "Remove replication of code to get_token command."
There are two separate blocks of code which perform the same task -

1. https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/utils/auth.py#L53

2. https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/get_token.py

Remove replication of code.

[2019-12-22 19:15] #204 closed

[2019-12-23 19:00] nikochiko opened #224 "[docs] Missing instructions for development setup on Windows"
**Current behavior:**
The `README.md` [Development Setup](https://github.com/Cloud-CV/evalai-cli#development-setup) section only provides instructions for setting up environment on Linux. (The `source` command is specific to Linux)
![cli-dev-setup](https://user-images.githubusercontent.com/37668193/71375285-b56f5e00-25e3-11ea-8c1c-4add14b66cba.PNG)

**Expected behavior:**
The instructions should i

[2019-12-23 19:12] nikochiko opened #225 "[new feature] Create shell script to set up development environment !?"
**Current behavior:**
The user has to go through a lot of steps to set up the development environment locally. This often leads to errors due to missed commands / unfulfilled dependencies on the users side or due to outdated documentation.

**New functionality:**
A script could be created that does all the automation and sets up the development environment for the user.
What this feature can do:
*

[2019-12-24 06:16] gautamjajoo commented on #224
PR #110 is already open for the same.

[2019-12-24 06:20] nikochiko commented on #224
@gautamjajoo Thanks for informing! :+1:
Closing the issue now.

[2019-12-24 06:20] #224 closed

[2019-12-27 14:33] KhalidRmb opened #229 "Fix Progress bar for uploading a docker image."
**Current behavior**:
When pushing a docker image using evalai-cli, a new progress bar appears for every incremental progress in the uploading process (Can be seen in the terminal when uploading the image).

![image](https://user-images.githubusercontent.com/31621523/71520794-e7363c80-28e3-11ea-906d-b0e6d848bb06.png)

**Expected**:
The task is to ensure that the progress bar is shown in a single l

[2019-12-27 20:26] daniel22373 commented on #223
Since these two blocks of code are essentially identical, would it be feasible to delete get_token.py and replace any usages of that file's code with the identical function in the utils/auth.py file?

[2019-12-28 05:18] pushkalkatara opened #231 "Challenge submission error handling"
If the challenge ID or phase does not exist on EvalAI server, the CLI should respond with necessary error, but the CLI crashes with the error as shown below -

![img](https://user-images.githubusercontent.com/21266230/71539230-661c8b00-295f-11ea-8cf4-df1d44abcbd4.png)
Image Courtesy: GCI Student aaaakshat

[2019-12-28 07:53] nikochiko opened #232 "[bug] Improper implementation of click causes errors while handling exceptions"
Current behavior:
While displaying the errors, `click.style` is being called on the errors to make the colors consistent. However, this implementation is not correct as `click.style` does not support an `Exception` as an argument, hence it raises an error on its own. See this snap:
![cli-bug-error-formatting](https://user-images.githubusercontent.com/37668193/71540772-03ce8500-2975-11ea-8003-d28a3

[2019-12-28 11:20] takitsuse opened #234 "[enhancement] Define wrapper functions for click's echo function"
## Current Implementation:
We are calling click's echo function directly each time we call it.

## The implementation I propose:
Instead of calling it directly, It sounds good to define wrapper functions like
[code]
and call them to make the codes more descriptive.

[2019-12-29 11:21] nsjcorps commented on #231
@pushkalkatara I have fixed the error.

https://github.com/Cloud-CV/evalai-cli/pull/236

[2019-12-30 07:58] gautamjajoo opened #238 "Add Code of Conduct file"
Add Code of Conduct file in the repository.

[2019-12-30 08:00] gautamjajoo opened #239 "Add Dark Mode option on the docs"
Add an option for a dark mode on the [documentation](https://evalai-cli.cloudcv.org/) page.

[2019-12-31 12:26] Suryansh5545 commented on #239
Well the documentation is being automatically generated by the doc string and Sphinx rtd theme so it wouldn't be required I think

[2019-12-31 20:47] m-sameer commented on #223
@pushkalkatara What should we do?

[2019-12-31 21:37] pushkalkatara commented on #223
@daniel22373 @m-sameer
The task is to use 2 as the wrapper for 1. Just as it is done for other commands [here](https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/challenges.py).

[2019-12-31 22:18] daniel22373 commented on #223
Thanks! Could I take this issue then?

On Tuesday, December 31, 2019, Pushkal Katara <notifications@github.com>
wrote:

[2019-12-31 22:38] daniel22373 commented on #223
Actually, I have already reached the limit for the number of beginner tasks
I can claim on GCI. If anybody else would like to take this issue, that is
fine.

On Tuesday, December 31, 2019, Daniel Wang <daniel22373@gmail.com> wrote:

[2020-01-01 09:38] amanex007 opened #241 "Remove duplicated code"
A lot of files have duplicated code.
Files and counts are as follows.
Count | Path
1 | evalai/utils/challenges.pyDuplication
1 | evalai/utils/teams.pyDuplication
11 | tests/test_challenges.pyDuplication
2 | tests/test_requests.pyDuplication
2 | tests/test_teams.pyDuplication

Removing these duplicate codes and taking a look at them might help lessening the code and the unnecessary complexity.

[2020-01-02 15:37] nikochiko opened #243 "[enhancement] Use different color for command usage examples within messages"
#### Current Behaviour:
When a command is to be shown in a message as a usage example, the current way is to use backticks (`) to enclose it. This is hard to read as the rest of the message is of the same color.
![current-message](https://user-images.githubusercontent.com/37668193/71675237-59ef5e00-2da3-11ea-87d7-bb1901503b05.PNG)

#### Expected Behavior:
Use a different color for the commands and

[2020-01-02 17:23] pushkalkatara commented on #223
@m-sameer Click defines decorators for each function to be used as a CLI command. In order to seperate click decorators and implementation of the function, we have two files token.py and utils/auth.py. In token.py we basically write the click decorators, import the utils/auth.py functions and call the functions directly, which can be called wrapping. In utils/auth.py we have the actual implementat

[2020-01-02 17:32] m-sameer commented on #223
So I have to create a function `get_token` in auth.py and point it to the function in token.py?

[2020-01-02 17:35] pushkalkatara commented on #223
1. Rename get_token.py -> auth.py
2. Import utils/auth.py in auth.py
3. update get_token function to use functions present in utils/auth.py
4. Check if the function works well
5. Post screenshots of the working command.

[2020-01-02 17:42] m-sameer commented on #223
But you said rename get_token.py to token.py earlier?

[2020-01-02 17:53] pushkalkatara commented on #223
Yes, you can choose either of them.

[2020-01-02 18:17] ShubhamPandey28 commented on #243
I would like to do this if you alllow.

[2020-01-03 00:44] nsjcorps opened #244 "EvalAI-cli Utils not fully tested"
The EvalAI-cli utils are mot tested fully leading to low coverage on the files such as

- utils/auth.py
- utils/request.py

I will start working on these tests and will make a pull request once done

[2020-01-03 18:37] takitsuse opened #248 "Unreachable Error handling"
## The observed behavior
We have [some lines](https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/utils/submissions.py#L274-L281) that handles `requests.exceptions.MissingSchema`, but unfortunately, these lines will be never called because [`submission_details_request`](https://github.com/Cloud-CV/evalai-cli/blob/cc9a93bc063ef7036e0b028c47fde73631d2f01c/evalai/utils/submissions.py#L219) has

[2020-01-04 22:09] ShubhamPandey28 commented on #243
@nikochiko  Is it okay if I make a new interface.py in evalai/util containing the parsed echo function or can you please suggest me the way it is wanted.

[2020-01-05 05:41] nikochiko commented on #243
@ShubhamPandey28 I think these changes should go either along with or after the enhancements proposed in https://github.com/Cloud-CV/evalai-cli/issues/234 as this can make use of the additions proposed there. Therefore, it should be taken care that both are compatible.

For example, I was thinking of having a syntax like:
[code]

The approach mentioned in issue#234 recommends directly echoing the

[2020-01-05 05:44] nikochiko commented on #243
@ShubhamPandey28 Both changes should be made in the same file like interface.py
I think the mentors can help with the naming here. I was thinking `formatting.py` or `text_styling.py`. Something that can give a more clear idea of what we are trying to achieve here.

[2020-01-05 05:52] takitsuse commented on #243
In order to print things in multiple colors, @nikochiko's edit on proposal #234 looks reasonable, sounds good to me👍

[2020-01-06 12:26] #248 closed

[2020-01-10 03:31] ShubhamPandey28 commented on #234
Can I take this and solve along with [#243](https://github.com/Cloud-CV/evalai-cli/issues/243)?

[2020-01-10 03:45] takitsuse commented on #234
@ShubhamPandey28 Sure :+1:

[2020-01-11 01:23] ShubhamPandey28 commented on #234
I made text_styling.py file in which I included the following:
[code]

[2020-01-14 22:44] pushkalkatara commented on #241
Hi @amanex007 There are some more duplications, one is also open as a GCI task here https://codein.withgoogle.com/dashboard/tasks/4597587785547776/ . You can work on it if you're interested. Thanks for pointing out.

[2020-01-18 07:45] matsujika opened #262 "Code coverage ignores command functions"
**Observed**:
Code coverage doesn't check command functions currently, so even if commands are not tested, code coverage will be 100%.

eg: `push` command in `submissions.py` is not tested, so code coverage of the file must not be 100 % but is 100% (see [here](https://coveralls.io/builds/28046756/source?filename=evalai%2Fsubmissions.py)).

[2020-01-18 15:12] nikochiko commented on #262
Can confirm :+1: .
See this coveralls build: https://coveralls.io/jobs/57952941/source_files/1455465142
I added two functions at the end one of them was a click command: https://coveralls.io/jobs/57952941/source_files/1455465142#L43

I think this is the problem: https://github.com/Cloud-CV/evalai-cli/blob/master/.coveragerc#L9

Nice catch! 👌

[2020-01-18 15:26] takitsuse commented on #262
@nikochiko I thought the file was clandestine too but was too busy to check that out (thanks, school exam). I'll give it a try :+1:

[2020-01-18 15:34] nikochiko commented on #262
np! 😄
But great job! It would be really easy to miss untested code without a coverage report.
(And even more so with a false one).

[2020-01-19 08:24] nikochiko opened #264 "Remove replication of code to get current host"
The code to fetch the current host URL is repeated in these two places:
* https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/set_host.py#L14
* https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/utils/auth.py#L88-L100

The util method get_host_url can be used in the host command instead.

[2020-01-27 07:23] nikochiko commented on #105
Is anyone working on this issue?
I would like to submit a PR.

[2020-01-27 07:31] nikochiko opened #271 "[docs] Add documentation for login command"
Feature to login with command `evalai login` was implemented here: https://github.com/Cloud-CV/evalai-cli/pull/138
But the documentation lacks a reference to the login command. I think it will be better to replace the `set_token` command in the `Get Started` section with `login` command.

Proposing changes:
- [ ]  Add documentation for `login` command and appropriate instructions (in Get Started s

[2020-02-17 15:15] nikochiko opened #272 "Add supported python versions to documentation"
Some python versions may not be supported by EvalAI-CLI.
The task is to install and test the app with various versions (`python 3.x`), test some functionality and check for any errors due to version, then update the readme correspondingly.

**Only check for versions yet to reach end-of-life (reference: https://devguide.python.org/#status-of-python-branches)**

_Labels: [docs, good-first-issue]_

[2020-02-27 00:03] pushkalkatara opened #273 "error while docker submission"
Hi @RishabhJain2018

I am facing this error while trying to do a docker based submission. What might be the issue?

[code]

[2020-03-03 21:28] RishabhJain2018 commented on #273
Hi @pushkalkatara , Is your docker daemon running without `sudo`?

[2020-03-04 00:10] pushkalkatara commented on #273
I missed adding docker to `user` group (post linux installation steps). Now it's working, Thanks.

How can I simulate a docker based challenge, currently it says `Error: Challenge phase with slug {num} does not exist.
`

[2020-03-04 04:48] vkartik97 commented on #273
@pushkalkatara
Did you use Challenge phase from here:
Its on submission page for Docker Based challenge:
<img width="510" alt="Screenshot 2020-03-04 at 10 17 15 AM" src="https://user-images.githubusercontent.com/3920286/75846137-59a22c00-5e01-11ea-8f0b-dc814d6f871d.png">

If you are not getting this screen, please check if challenge is docker based while creation or
via django admin

[2020-03-04 21:29] pushkalkatara commented on #273
How can I simulate a docker based challenge? where can I find a sample challenge to upload and create a new docker based challenge?

[2020-03-04 21:40] RishabhJain2018 commented on #273
Here it is: https://evalai.readthedocs.io/en/latest/host_challenge.html#host-code-upload-based-challenge

[2020-03-05 12:57] pushkalkatara commented on #273
@RishabhJain2018 Thanks for pointing me to the link.

Closing the issue.

[2020-03-05 12:57] #273 closed

[2020-03-25 09:33] liuxz-cs commented on #273
Hello，I get the same error, I want to know how to add docker to 'user' group?

[2020-03-25 19:35] RishabhJain2018 commented on #273
Here are the steps: https://docs.docker.com/install/linux/linux-postinstall/

[2020-03-26 00:18] liuxz-cs commented on #273
Thanks a lot. I have sove the problem.

[2020-03-26 00:19] liuxz-cs commented on #273
Thanks a lot. I have solved the problem.

[2020-05-07 14:11] RishabhJain2018 opened #275 "socket.timeout error when submitting image using `evalai push`"
When submitting a new docker image for the 1st time I often get the following error:

[code]
Repeating the push immediately after is usually success - presumably because most of the docker layers have been cached at the server.

Things already tried and didn't work-
1. Maybe setting DOCKER_CLIENT_TIMEOUT will help: docker/compose#6837
2. Tried setting following env vars:
[code]
3. Also tried setti

[2020-05-07 14:11] RishabhJain2018 commented on #275
@Ayukha Can you please look into this?

[2020-05-07 14:16] Ayukha commented on #275
@RishabhJain2018  sure

[2020-05-07 14:18] RishabhJain2018 commented on #275
One more thing, the docker images that gave this error was of around 7.5 GB in size.

[2020-05-31 09:32] #262 closed

[2020-09-06 11:02] KhalidRmb opened #278 "Write tests for uploading files through pre-signed urls"
Include tests for both annotation file and submission file uploads

[2020-09-06 16:24] RishabhJain2018 commented on #278
related PR #277

[2020-09-27 18:32] devil-cyber commented on #271
Can i work on this issue?

[2020-09-28 14:18] RishabhJain2018 commented on #271
Hi @devil-cyber, Sure!

[2020-09-28 14:19] devil-cyber commented on #271
Thanks

On Mon, Sep 28, 2020, 7:48 PM Rishabh Jain <notifications@github.com> wrote:

[2020-10-23 18:32] RishabhJain2018 opened #290 "Add a progress bar for large submission file uploads"
**Description**:
Currently, the large submission file upload feature shows only a plain text and the user doesn't know of the progress of the file uploaded. We should add a progress bar so that the user knows the progress.

![Screenshot 2020-10-23 at 2 30 55 PM](https://user-images.githubusercontent.com/12206047/97040800-82b43000-153c-11eb-83b6-255b069f353b.png)

[2020-12-22 23:21] kdexd opened #300 "Request: Make dependency version constraints softer."
I was recently bumping versions of common libraries in one of my [old repositories](https://github.com/nocaps-org/updown-baseline), that used EvalAI CLI v1.3.7, PyTorch v1.1.0, AllenNLP v0.8.4

I decided to bump PyTorch to v1.7.0 and AllenNLP to v1.0+ (the most recent versions right now). But I am facing a dependency deadlock between EvalAI and AllenNLP:

![image](https://user-images.githubusercon

[2021-01-07 14:16] #300 closed

[2021-01-17 16:27] Ram81 opened #305 "Accept submission meta attributes in evalai submit command"
### Description

Currently, when a participant makes a submission using `evalai-cli` they can't pass [`submission_meta_attributes`](https://github.com/Cloud-CV/EvalAI-Starters/blob/master/challenge_config.yaml#L49) from cli. The submit command should allow the participant to enter all the `submission_meta_attributes` fields when making a submission using evalai cli.

### Approach

1. Make an API c

[2021-01-18 13:26] Ram81 commented on #290
Fixed in #291

[2021-01-18 13:26] Ram81 commented on #290
@RishabhJain2018 we can close this issue

[2021-01-18 13:27] burnerlee commented on #305
@Ram81 could you please assign me this issue. I am just fixing all the issues in open PRs right now. 1 of them is merged. 2 PR are open which I'll fix just now. Otherwise, please assign this to me when I am able to get those merged

[2021-01-18 13:30] Ram81 commented on #305
@burnerlee Sure, you can go through the evalai-cli codebase meanwhile and set it up on your local machine.

@RishabhJain2018 can we assign this issue to @burnerlee.

[2021-01-18 17:09] #290 closed

[2021-01-18 18:04] burnerlee commented on #305
@Ram81 @RishabhJain2018 can't log in in the project in terminal using `evalai login` using username:host, password:password

[2021-01-18 18:04] burnerlee commented on #305
[code]

[2021-01-18 18:36] RishabhJain2018 commented on #305
Hey @burnerlee , Please change the host to `localhost:8000` using this command -- `evalai host -sh https://eval.ai`

[2021-01-18 18:42] burnerlee commented on #305
yeah! works. Thank you. Should I add this in the readme as well? @RishabhJain2018

[2021-01-18 18:44] RishabhJain2018 commented on #305
Yes, would be good to add. Thanks!

[2021-01-23 16:43] Ram81 opened #307 "Add tests for get_user_access_token method"
### Description

Add tests for `get_user_access_token` method in [`evalai/utils/auth.py`](https://github.com/Cloud-CV/evalai-cli/blob/master/evalai/utils/auth.py#L19).

[2021-01-23 20:38] ShauryaAg commented on #307
@Ram81 I would like to work on this issue. But I am a little unfamiliar with the working of this method.
From what I see, this method takes the auth token as input and returns the same token again as output?

Can you help me with this?

[2021-01-24 14:38] Ram81 commented on #307
@ShauryaAg the method accepts a expiring auth token as a parameter and makes API call to evalai backend to get an Access Token. Expiring auth tokens expire when user logs out but the access token can be used to make api calls irrespective of login state

[2021-01-24 16:29] ShauryaAg commented on #307
@Ram81 sorry about the confusion, my local clone was not up-to-date.

I would like to take this issue.

[2021-01-24 17:03] Ram81 commented on #307
@ShauryaAg Sure, go ahead.

[2021-01-24 19:19] ShauryaAg commented on #307
@Ram81 The test for `get_user_access_token` are already written in [test_get_token.py](https://github.com/Cloud-CV/evalai-cli/blob/master/tests/test_get_token.py). As `get_token` reads from the same file (`~/.evalai/token.json`) as set during `login` (which calls `utils.get_user_auth_token_by_login` and `utils.get_user_access_token`).

[2021-01-26 12:05] burnerlee commented on #305
@RishabhJain2018 @Ram81, I was looking for an API to fetch the `submission_meta_attributes` of a `challenge_phase`. I got one(`http://localhost:8000/api/challenges/phase/alexander-phase-2021-294c180c81/`) but it uses the slug for the `challenge_phase` rather than the id. So should I make one for this?

[2021-01-26 12:06] burnerlee commented on #305
Also each `challenge_phase` has `submission_meta_attributes` and `default_submission_meta_attributes`. We have to use the `submission_meta_attributes` right? Just a confirmation

[2021-01-26 12:14] Ram81 commented on #305
@burnerlee `default_submission_meta_attributes` are already being used when a participant makes a submission.

We already have an API to get challenge phase details using challenge phase id. You can find it [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/urls.py#L37)

[2021-01-26 12:21] burnerlee commented on #305
oh! thank you so much. Also, would the default and non-default attributes be different in the backend? or would I have to add a check to remove the duplication of attributes?

[2021-01-26 13:05] burnerlee commented on #305
Also, there are no `submission_meta_attributes` in any of the sample Challenge Phases stored in the database. Could you show some example JSON Object for `submission_meta_attributes` which I can save for testing?

[2021-01-26 13:10] Ram81 commented on #305
They're different you don't have to check for duplicates.

You can create a challenge to use it for testing and understanding how it works. To create a challenge go to https://github.com/Cloud-CV/EvalAI-starters and clone it. After cloning just do `./run.sh` in the repo and you'll get a `challenge_config.zip`. Upload it to your local evalai by going to create challenge page. Now you'll have a chal

[2021-01-26 13:12] burnerlee commented on #305
oh thanks! this would do

[2021-01-26 13:41] burnerlee opened #313 "Keyerror on logging errors when found in making a call to api"
When an error is received while making a request to the backend, we catch it, and if it is present in the EVALAI_ERROR_CODES, we log it using the lines:
[code]
But response.json() does not have the key `error` in cases. For e.g., I made a request using an expired token and got an error. So when I logged the entire json.response(), it was something like
[code]
This does not contains a key named err

[2021-01-28 08:40] Ram81 commented on #305
@burnerlee any update on this task?

[2021-01-28 08:52] burnerlee commented on #305
Yes, already made the PR. @RishabhJain2018 asked for your review on the PR. Waiting for the same

[2021-01-28 08:58] burnerlee commented on #305
#315 made a day before yesterday, will now work on cyclic import issue

[2021-01-28 09:04] Ram81 commented on #305
@burnerlee left some comments on the PR

[2021-02-04 15:58] #305 closed

[2021-02-07 05:47] ayu023ban commented on #264
I would like to work on this issue

[2021-02-07 05:54] RishabhJain2018 commented on #264
Sure!

[2021-02-16 11:38] burnerlee opened #318 "Fix format of submission meta attributes saved on making a new submission"
Currently, when we make a new submission along with metadata through the cli, only the name of field and value are stored in the database. This is inconsistent with the case when a submission is made through the frontend. The metadata saved on creating a new submission/editing a previous one saves the entire details of the submission meta attributes including the options and description of the fie

[2021-02-16 11:38] burnerlee commented on #318
@Ram81, may I start working on this and make a PR for this?

[2021-02-23 10:55] phiyodr commented on #313
Hi @burnerlee, I run in the same error as you. I'm using a fresh install of v1.3.12.

[2021-02-23 12:36] Ram81 commented on #313
@burnerlee nice catch, this error response is from jwt token API that we added recently. If you are interested you can pick this issue and send a PR to fix it.

[2021-02-23 12:54] burnerlee commented on #313
@Ram81 yeah sure, I'll make a PR for this

[2021-02-28 15:42] burnerlee commented on #313
@Ram81, should I do something like, checking if error key is present in the response, if it does, use the same value, if it doesn't then use the detail key for getting the error?

[2021-02-28 15:45] Ram81 commented on #313
@burnerlee yes

[2021-02-28 15:47] burnerlee commented on #313
Oh okay, it is only this jwt error log which causes this error, or there may be some other errors too? Which need to be handled 😅

[2021-02-28 15:48] Ram81 commented on #313
For now its just the JWT API which has a different error response format. Rest of our APIs are already handled

[2021-02-28 16:00] burnerlee commented on #313
thank you so much ❤️

[2021-03-17 15:43] Ram81 opened #321 "Add command to download all submissions of a challenge"
### Description

We need a cli command that will allow users to download all submissions of a challenge. The command should handle two cases:

1. If a user is host of a challenge download all submissions made to the challenge for a phase
2. If a user is a participant download submissions only made by the team of user to the challenge for a phase.

Required backend APIs are already available for th

[2021-03-17 20:12] burnerlee commented on #321
@Ram81 may I pick up this issue and make a quick PR?

[2021-03-18 05:50] Ram81 commented on #321
@burnerlee sure, go ahead

[2021-03-18 07:49] burnerlee commented on #321
@Ram81 in what file format should the submissions be downloaded?

[2021-03-18 21:00] burnerlee commented on #321
@Ram81 ping

[2021-03-25 05:38] burnerlee commented on #321
@Ram81 ping

[2021-03-25 05:39] Ram81 commented on #321
@burnerlee we should give two options `csv` and `json`. Sorry about the late reply

[2021-03-25 05:56] burnerlee commented on #321
Not a problem at all😅 I'll make a PR to integrate this😀

[2021-03-25 07:15] burnerlee commented on #321
@Ram81 also where do I save the files download by the user? I am planning to make a new folder at project root level named `submissions`. When the user runs the command through the cli to download submissions. by default the submissions would be downloaded in csv format and stored in the `submissions` folder with a name of format `submissions_<time_string_at_command_run>` . To download a json file

[2021-03-25 07:15] burnerlee commented on #321
Please suggest changes in this approach if needed

[2021-03-25 14:38] #318 closed

[2021-03-31 03:34] burnerlee commented on #321
@Ram81 ping

[2021-04-14 18:21] savish28 opened #325 "Proposal for creation of challenges through zip using cli."
Creating challenge through zip file by the means of cli.
The API already exists for the same on Evali Backend.
The input requirements are host team and we already have the functionality to create and view teams through cli.

[2021-04-14 18:28] savish28 commented on #325
@Ram81, Can we have this functionality in the cli, or is it left intentionally?

[2021-06-11 07:12] Ram81 commented on #325
@savish28 we already support creation of challenge using github. We don't plan to support it using cli.

Closing this issue.

[2021-06-11 07:12] #325 closed

[2021-08-20 05:26] Bo396543018 opened #333 "AttributeError: 'Response' object has no attribute 'get"
_Thanks for taking the time to report a bug in the evalai-cli project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/evalai-cli/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to

[2021-08-20 16:44] RishabhJain2018 commented on #333
@Ram81 Can you please look into this?

[2021-08-24 15:51] Ram81 commented on #333
@RishabhJain2018 I tried reproducing this issue but I wasn't able to. I'll send a PR once I am able to replicate the issue. I have a idea of what is going wrong here just need to verify it once.

[2021-12-04 02:50] felixp8 opened #334 "Submission metadata appears to be dropped when submitting large files"
When I try to submit a file along with submission metadata using the `--large` flag with EvalAI-CLI, only the `default_submission_meta_attributes` are properly assigned and not the additional `submission_meta_attributes`. The problem might be that the function [`upload_file_using_presigned_url`](https://github.com/Cloud-CV/evalai-cli/blob/7deab41e9e1d84519ce70c4dfa96f99365366fcb/evalai/utils/commo

[2022-06-04 09:17] kingwmk opened #339 "submission error"
I got an error when submit results.

 $evalai challenge 1719 phase 3392  submit --file ./sub.parquet --large

Error: {'detail': 'Given token not valid for any token type', 'code': 'token_not_valid', 'messages': [{'token_class': 'RefreshToken', 'token_type': 'refresh', 'message': 'Token is invalid or expired'}]}

[2022-06-04 09:52] #339 closed

[2022-06-07 02:49] jeromepatel commented on #339
@kingwmk I am facing a similar error, can you please tell me how did you resolve this? thanks!

[2022-06-09 19:39] Ram81 commented on #339
Hi @kingwmk @jeromepatel , please update your CLI version to latest one and update the token in your CLI with the latest token from your EvalAI profile to resolve this issue.

[2022-09-08 12:14] PrathyushaModala commented on #106
Hi @RishabhJain2018 ,
Is the issue still open, I would Like to work on it??